
<!-- #main-content -->
<footer id="main-footer">
    <div class="container">
        <div id="footer-widgets" class="clearfix">
            <div class="footer-widget">
                <div id="text-2" class="fwidget et_pb_widget widget_text">
                    <div class="textwidget">
                        <p id="copyright"></p>
                        <p>
                            <a target="_blank" href="{{site.url}}{{site.baseurl}}/documents/privacy-notice-090821.pdf" rel="noopener">Privacy Notice</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="footer-widget"></div>
        </div>
    </div>
</footer>

<script>
    /* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
    function toggleMobileNav() {
        var x = document.getElementById("mobileLinks");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
    }
</script>

<script>
    const date = new Date();
    const year = date.getFullYear();
    document.getElementById("copyright").innerHTML = `&copy; ${year} FidelityCounseling.com`;
</script>