<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <script type="text/javascript">
      document.documentElement.className = 'js';
  </script>
  <title>Fidelity Counseling | Individual Counseling for Children, Teens, and Adults in St. Louis, MO</title>
  <link rel="stylesheet" href="{{site.url}}{{site.baseurl}}/css/styles.css" type="text/css" media="all" />
  <link rel="stylesheet" href="{{site.url}}{{site.baseurl}}/css/theme.css" type="text/css" media="all" />
  <link rel='stylesheet' id='divi-fonts-css' href='https://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C700italic%2C800italic%2C400%2C300%2C600%2C700%2C800&#038;subset=latin%2Clatin-ext' type='text/css' media='all'/>

  <link rel="stylesheet" id="divi-style-css" href="{{site.url}}{{site.baseurl}}/css/style.css" type="text/css" media="all">
  <link rel='stylesheet' id='dashicons-css' href='{{site.url}}{{site.baseurl}}/css/dashicons.min.css' type='text/css' media='all'/>
  <script type="text/javascript" src="{{site.url}}{{site.baseurl}}/scripts/jquery.min.js" id="jquery-core-js"></script>
  <script type="text/javascript" src="{{site.url}}{{site.baseurl}}/scripts/jquery-migrate.min.js" id="jquery-migrate-js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
</head>
