<header id="main-header" data-height-onload="66">
    <div class="container clearfix et_menu_container">
        <div class="logo_container">
            <span class="logo_helper"></span>
            <a href="{{site.url}}{{site.baseurl}}/index.html">
                <img src="{{site.url}}{{site.baseurl}}/images/logo.png" alt="Fidelity Counseling" id="logo" data-height-percentage="54"/>
            </a>
        </div>
        <div id="et-top-navigation" data-height="66" data-fixed-height="40">
            <nav id="top-menu-nav">
                <ul id="top-menu" class="nav">
                    <li id="menu-item-60" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-37 current_page_item menu-item-60">
                        <a href="{{site.url}}{{site.baseurl}}/index.html" aria-current="page">Home</a>
                    </li>
                    <li id="menu-item-184" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-184">
                        <a href="#">Meet Us</a>
                        <ul class="sub-menu">
                            <li id="menu-item-499" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-499">
                                <a href="{{site.url}}{{site.baseurl}}/meet-us/donna-tilley.html">Donna Tilley</a>
                            </li>
                            <li id="menu-item-59" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-59">
                                <a href="{{site.url}}{{site.baseurl}}/meet-us/peter-schumaker.html">Peter Schumaker</a>
                            </li>
                        </ul>
                    </li>
                    <li id="menu-item-614" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-614">
                        <a href="{{site.url}}{{site.baseurl}}/faq/index.html">FAQ</a>
                    </li>
                    <li id="menu-item-53" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-53">
                        <a href="{{site.url}}{{site.baseurl}}/contact-us/index.html">Contact Us</a>
                    </li>
                </ul>
            </nav>

            <div id="et_mobile_nav_menu">
                <div class="mobile_nav closed">
                    <span class="select_page">Select Page</span>
                    <span class="mobile_menu_bar mobile_menu_bar_toggle"></span>
                </div>
            </div>
        </div>
    </div>
</header>
