<!DOCTYPE html>
<html lang="en-US">
  {% include head.html %}
  <body class="home page-template-default page page-id-37 custom-background et_pb_button_helper_class et_fixed_nav et_show_nav et_cover_background et_pb_gutter windows et_pb_gutters3 et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_pb_footer_columns2 et_header_style_left et_pb_pagebuilder_layout et_full_width_page et_divi_theme et-db et_minified_js et_minified_css">
    <div id="page-container">
      {% include nav-bar.html %}
      {{ content }}
      {% include footer.html %}
    </div>
  </body>
</html>
